.homeAdvantagesBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1509px;
}

.colorBox {
  background: linear-gradient(#662D8C, #ED1E79);
  padding: 60px 140px 90px;
  ul li {
    position: relative;
    &:before {
      position: absolute;
      width: 34px;
      height: 34px;
      left: -64px;
      content: '';
      background: url('/static/images/icons/star.svg') no-repeat;
    }
  }
}
