@import './homeAdvantages.scss';
@import './travelsList.scss';

.homeAboutBox {
  background: $white;
  padding: 0 0 178px;
}

.homeAboutContentBox {
  display: flex;
  align-items: center;
}

.homeAboutTitle {
  font-size: 22px;
  span {
    font-size: 60px;
    font-family: 'Lobster';
  }
}

.homeAboutText {
  margin: 25px 0 0;
  font-size: 16px;
}

.btn {
  width: max-content;
  padding: 30px 50px;
  font-size: 16px;
  color: $white;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background: #ED1E79; /* Old browsers */
  background: -moz-linear-gradient(#ED1E79 , #F60B50 ); /* FF3.6-15 */
  background: -webkit-linear-gradient(#ED1E79 ,#F60B50 ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(#ED1E79,#F60B50 ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 35px 0 0;
}

.tac {
  text-align: center;
}
