@import './travelsList.scss';


.homeAboutBox {
  background: $white;
  padding: 0 0 178px;
}

.homeAboutContentBox {
  display: flex;
  align-items: center;
}

.homeAboutTitle {
  font-size: 22px;
  span {
    font-size: 60px;
    font-family: 'Lobster';
  }
}

.homeAboutText {
  margin: 25px 0 0;
  font-size: 16px;
}

.homeAboutTextBox {
  width: 70%;
}

.homeAboutImgBox {
  max-width: 30%;
  padding-left: 40px;
  img {
    width: 100%;
  }
}

.btn {
  width: max-content;
  padding: 20px 40px;
  font-size: 16px;
  color: $white;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background: #ED1E79; /* Old browsers */
  background: -moz-linear-gradient(#ED1E79 , #F60B50 ); /* FF3.6-15 */
  background: -webkit-linear-gradient(#ED1E79 ,#F60B50 ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(#ED1E79,#F60B50 ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 35px 0 0;
}

.tac {
  text-align: center;
}

.colorBox {
  background: linear-gradient(#662D8C, #ED1E79);
  padding: 60px 140px 90px;
  ul li {
    position: relative;
    &:before {
      position: absolute;
      width: 34px;
      height: 34px;
      left: -64px;
      content: '';
      background: url('/static/images/icons/star.svg') no-repeat;
    }
  }
  h1, h2, h3 {
    font-weight: normal;
    * {
      font-weight: normal;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .aboutColorBox {
    padding: 130px 0 105px!important;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media only screen and (max-width: 992px) {
  .homeAboutTextBox, .homeAboutImgBox {
    width: 50%;
    max-width: 50%;
  }

  .colorBox {
    h1, h2, h3 {
      font-weight: normal!important;
      font-size: 32px!important;
      line-height: 34px!important;
      * {
        font-weight: normal!important;
        font-size: 32px!important;
        line-height: 34px!important;
      }
    }
    p, ul {
      font-size: 16px!important;
      line-height: 22px!important;
      * {
        font-size: 16px!important;
        line-height: 22px!important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeAboutTextBox {
    order: 1;
    width: 100%;
    max-width: 100%;
  }

  .homeAboutImgBox {
    margin: 0 0 35px;
  }

  .homeAboutContentBox {
    flex-direction: column;
  }
  .colorBox {
    padding: 20px 20px 20px 50px;
    ul {
      li:before {
        left: -40px;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .homeAboutImgBox {
    max-width: 80%;
    width: 100%;
  }

  .colorBox {
    h1, h2, h3 {
      font-weight: normal;
      font-size: 26px;
      line-height: 30px;
      * {
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}