.travelsListBox {
  background: $white;
}

.travelsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 0;
}

.travelsListTitle {
  font-family: 'Lobster';
  font-size: 45px;
}

.travelsListItem {
  position: relative;
  width: 100%;
  margin: 0 0px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.travelListLink {
  position: absolute;
  text-align: left!important;
  background: #fff;
  bottom: 0;
  left: 0;
  max-width: 260px;
  width: 100%;
  font-weight: 400;
  padding: 50px 20px 30px 20px;
  cursor: pointer;
  * {
    color: #000!important;
    font-family: 'Roboto'!important;
    font-size: 15px!important;
  }
  h1 {
    position: relative;
    display: inline;
    &:after {
      position: absolute;
      right: -25px;
      content: '';
      background: url('/static/images/icons/arrTo.svg') no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
    }
  }
}

.travelListItemsBox {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  flex-wrap: wrap;
  max-height: 420px;
  margin: 0 20px 20px 0;
  align-items: center;
  &:nth-child(even){
    margin: 0 0 20px 0;
    width: 50%;
  }
  .travelsListItem:nth-child(1) {
    width: calc(50% - 20px);
    min-height: 420px;
    margin: 0 20px 0 0;
  }
  .travelsListItem:nth-child(2) {
    height: 200px;
    width: 50%;
  }
  .travelsListItem:nth-child(3) {
    height: 200px;
    width: 50%;
    margin: 0
  }
}

@media only screen and (max-width: 1400px) { 
  .travelListLink {
    * {
      color: #000!important;
      font-family: 'Roboto'!important;
      font-size: 13px!important;
    }
    p > span:first-child {
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      max-width: 260px;
      padding: 20px 50px 20px 20px
    }
    p > span:not(:first-child) {
      display: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .travelsListTitle {
    padding: 20px 0 0;
    font-size: 34px;
  }

  .travelListItemsBox {
    width: 100%;
    margin: 0 0 20px;
    &:nth-child(even){
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {

  .travelListLink {
    * {
      color: #000!important;
      font-family: 'Roboto'!important;
      font-size: 14px!important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .travelListItemsBox {
    max-height: initial;
    margin: 0;
  }
  .travelsListItem {
    width: 100%!important;
    margin: 0 0 20px!important;
    min-height: 200px!important;
  }
}