.travelsListBox {
  background: $white;
}

.travelsList {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.travelsListTitle {
  font-family: 'Lobster';
  font-size: 45px;
}

.travelsListItem {
  max-width: 360px;
  width: 100%;
  margin: 0 20px 25px 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  &:last-child {
    margin-right: 0;
  }
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.travelListLink {
  position: relative;
  cursor: pointer;
  height: 220px;
  * {
    color: #000!important;
    font-family: 'Roboto'!important;
    font-size: 15px!important;
  }
  p > span:first-child {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    max-width: 260px;
    padding: 50px 80px 30px 20px
  }
  p > span:not(:first-child) {
    display: none;
  }
}

@media only screen and (max-width: 1400px) { 
  .travelListLink {
    height: 160px;
    * {
      color: #000!important;
      font-family: 'Roboto'!important;
      font-size: 13px!important;
    }
    p > span:first-child {
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      max-width: 260px;
      padding: 20px 50px 20px 20px
    }
    p > span:not(:first-child) {
      display: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .travelsListTitle {
    padding: 20px 0 0;
    font-size: 34px;
  }

  .travelsList {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .travelsListItem {
    width: 48%;
    margin: 0 0 20px;
    max-width: 390px;
  }
  
  .travelListLink {
    height: 220px;
    p > span:first-child {
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      max-width: 260px;
      padding: 50px 80px 30px 20px
    }
  }
}

@media only screen and (max-width: 700px) {
  .travelsList {
    justify-content: center;
  }

  .travelsListItem {
    width: 100%;
  }

  .travelListLink {
    height: 160px;
    * {
      color: #000!important;
      font-family: 'Roboto'!important;
      font-size: 14px!important;
    }
  }
}