.adminArticlesBox {
  width: 100%;
  padding: 20px;
}

.travelTemplateBox {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  input {
    height: 49px;
    margin: 0 0 10px;
  }
}

.tox-tinymce {
  margin: 0 0 35px;
}

.adminEditorTitle {
  margin: 0 0 20px;
}