.adminContentBox{
  display: flex;
  flex: 1 0 auto;
  background: #E7EBF0;
}

.adminSidenavBox{
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 20px;
  a{
    color: #ffffff;
    margin: 10px;
    transition: .4s;
    text-decoration: none;
  }
}

.adminSidenavSticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 40px;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.adminHomeBox{
  animation: fadeIn 1s;
}

.adminContent {
  width: 100%;
  padding: 20px;
}

.adminBtn {
  background: $green;
  color: $white;
  padding: 10px;
  border: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.adminBtnsBox {
  display: flex;
  margin: 0 0 20px;
  div {
    margin: 0 20px 0 0;
  }
}

.flexItems {
  display: flex;
  div {
    margin: 0 20px 0 0;
  }
}

.adminDelBtn {
  background: red!important;
}

.adminTitle {
  text-align: center;
  margin: 0 0 35px;
  padding: 6px;
  background: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: 28px;
}

.mgb {
  margin: 0 0 20px;
}

.adminSidenavBox a.adminActiveNav {
  color: $lightgreen;
}

.loginBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    input {
      width: 100%;
      height: 45px;
      padding: 10px;
      margin: 0 0 10px;
    }
    input[type=submit] {
      border: 0;
      color: #fff;
    }
    p {
      position: absolute;
      bottom: -50px;
    }
  }
}