.adminHeaderBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  height: 100px;
  background: #EDDDC6;
  color: #2F3034;
  padding: 0 40px;
  h1 {
    font-size: 22px;
  }
  a {
    color: #000;
  }
}
