.adminTabItemBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 0 10px;
}

.adminSmallTitle {
  font-size: 15px;
  margin: 0 0 10px;
}

.nameFormatterBox {
  * {
    color: #000!important;
    font-family: 'Roboto'!important;
    font-size: 16px!important;
    text-align: left!important;
    white-space: nowrap!important;
  }
}