.aboutPageColorText {
  color: $white;
  text-align: center;
  font-size: 16px;
  margin: 40px 0 0;
}

.aboutColorBox { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1200px;
  background-repeat: no-repeat!important;
}