
.accordBox {
  display: flex;
  > div {
    width: 50%;
  }
}

.accordItemBox {
  .accordTitle {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    padding: 4px 8px;
    height: 50px;
    cursor: pointer;
    svg {
      height: 40px;
    }
    .accordIcon {
      margin: 0 10px 0 0;
      div {
        display: flex;
      }
    }
    &:after {
      position: absolute;
      content: '';
      background: url('/static/images/icons/sliderAngle.svg') no-repeat;
      background-size: contain;
      right: 20px;
      transform: rotate(-90deg);
      width: 16px;
      height: 25px;
      transition: .4s;
    }
  }

  .accordContentBox {
    transition: .4s;
    overflow: hidden;
    .accordContent {
      padding: 8px;
    }
  }
}

.accordItemBoxActive {
  .accordTitle {
    &:after {
      transform: rotate(90deg);
    }
  }
  .st0 {
    fill: $pink;
  }
}
