.eventBox {
  background: #fff;
}

.eventTitle {
  font-size: 24px;
  text-align: center;
  span {
    font-weight: 700;
  }
}

.eventIconBox {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.eventIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(237, 30, 121, 0.52);
  img {
    width: 60px;
  }
}

.eventIconItemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) { 
 .eventIcon {
   width: 80px;
   height: 80px;
   img {
    width: 40px;
  }
 }

 .eventIconItemBox {
   font-size: 14px;
 }
}

@media only screen and (max-width: 600px) { 
  .eventTitle {
    font-size: 18px;
  }

  .eventIconBox {
    flex-wrap: wrap;
    justify-content: center;
  }

  .eventIconItemBox {
    width: 50%;
    margin: 0 0 20px 0;
  }
}