.headerBox {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerBg {
  width: 100%;
  display: block;
}

.headerPositionBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.headerLogoNavBox{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logoBox{
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 45%;
  a{
    text-decoration: none;
    color: $white;
    img{
      width: 186px;
      height: 140px;
    }
  }
}

.headerContactBox {
  display: flex;
  width: 55%;
  .contentMidWrapper {
    position: relative;
    z-index: 1;
  }
  a{
    display: flex;
    justify-content: center;
    width: 49px;
    height: 49px;
    border: 1px solid $white;
    border-radius: 50%;
    margin: 0 25px 0 0;
    img{
      width: 50%;
    }
  }
}

// .navBox {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   justify-content: center;
//   max-width: 140px;
//   width: 100%;
//   min-height: 122px;
//   align-self: flex-start;
// }

// .navBox.active {
//   max-width: 690px;
// }

.menuFixedBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 90px;
  width: 100%;
  top: 0;
  right: 0;
  min-height: 80px;
  background: #f1c40f; /* Old browsers */
  background: -moz-linear-gradient(left,  #f1c40f 0%, #e67e22 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f1c40f 0%,#e67e22 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f1c40f 0%,#e67e22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40f', endColorstr='#e67e22',GradientType=1 ); /* IE6-9 */

  transition: .3s;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  z-index: 9999;
}

.menuFixedBox.active {
  max-width: 420px;
  min-height: 590px;
}

.closeMenuBox {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.headerMenuBox {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 1s;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  a{
    font-size: 25px;
    color: $white;
    text-decoration: none;
    padding: 20px 0 12px 100px;
  }
  a.activeMenu {
    text-decoration: underline;
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburger--arrowturn {
  position: relative;
  z-index: 9;
  transform: translateX(-5px) translateY(15px);
  align-self: flex-end;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
  outline: 0;
}
  .hamburger--arrowturn:hover {
    opacity: 0.7; }
  .hamburger--arrowturn.is-active:hover {
  opacity: 0.7; }
  .hamburger--arrowturn.is-active .hamburger--arrowturn-inner,
  .hamburger--arrowturn.is-active .hamburger--arrowturn-inner::before,
  .hamburger--arrowturn.is-active .hamburger--arrowturn-inner::after {
  background-color: $white; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }


  /* HEADER CONTENT */

.headerContentBox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.headerTitle {
  margin: 80px 0 0;
  padding: 0 20px;
  font-weight: 400;
}

.headerSubTitle {
  margin: 20px auto 0;
  padding: 0 20px;
  max-width: 1020px;
  width: 100%;
}

.customFormBox, .customFormBoxSecond {
  display: flex;
  height: 75px;
  background: $white;
  margin: 95px auto 0;
  width: 100%;
  label {
    position: relative;
    border: 1px solid rgba(57,57,57,.4);
    &:before {
      position: absolute;
      top: 30%;
      content: '';
      left: 40px;
    }
  }
}

.customFormBoxSecond {
  margin-top: 0;
}

.noMargin {
  margin: 0;
}

.vis {
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.invis {
  opacity: 0;
  visibility: hidden;
}

.way { 
  flex: 1;
  &:before {
    background: url('/static/images/icons/direction.svg') no-repeat;
    width: 30px;
    height: 30px;
  }
}

.name { 
  flex: 1;
  &:before {
    background: url('/static/images/icons/user_name.svg') no-repeat;
    width: 30px;
    height: 30px;
  }
}

.email { 
  flex: 1;
  &:before {
    background: url('/static/images/icons/user_mail.svg') no-repeat;
    width: 30px;
    height: 30px;
  }
}

.number { 
  flex: 1;
  &:before {
    background: url('/static/images/icons/number.svg') no-repeat;
    width: 30px;
    height: 30px;
  }
}

.rest { 
  &:before {
    background: url('/static/images/icons/rest.svg') no-repeat;
    width: 30px;
    height: 33px;
  }
}

.budget { 
  &:before {
    background: url('/static/images/icons/budget.svg') no-repeat;
    width: 37px;
    height: 30px;
  }
}

.calendar { 
  flex: 1;
  &:before {
    background: url('/static/images/icons/calendar.svg') no-repeat;
    width: 25px;
    height: 29px;
  }
}

.city { 
  &:before {
    background: url('/static/images/icons/city.svg') no-repeat;
    width: 34px;
    height: 34px;
    top: 26%!important;
  }
}

.participants {
  &:before {
    background: url('/static/images/icons/participants.svg') no-repeat;
    width: 37px;
    height: 30px;
  }
}

.customFormInput { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  font-size: 16px;
  border: 0;
  padding: 0 0 0 100px;
  width: -webkit-fill-available;
  outline: 0;
}

.react-datepicker-wrapper {
  display: flex!important;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 100px!important;
  div {
    display: flex;
    flex-direction: column;
    height: 100%;
    input {
      height: 100%;
      align-self: flex-end;
      font-size: 16px;
      border: 0;
      width: -webkit-fill-available;
      outline: 0;
    }
  }
}

.customFormItem {
  width: 24%;
}

.customFormSearchItem {
  display: flex;
  padding: 0;
  border: 0;
  width: 28%;
  .customFormItemBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(57,57,57,.4);
    width: 25%;
    height: 100%;
    img {
      width: 31px;
    }
  }
  .customSearchBtn {
    flex: 1;
    width: 50%;
    background: $pink;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
  }
}

.cloudBox {
  width: 100%;
  position: absolute;
  height: 100vh;
  img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }
}

.downArr {
  position: absolute;
  bottom: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid $white;
  border-radius: 50%;
  cursor: pointer;
  margin: 90px 0 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  svg {
    height: 20px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1600px) {
  .headerTitle {
    margin: 20px 0 0;
  }
}

@media only screen and (max-width: 1366px) {
  .headerTitle {
    margin: 20px 0 0;
  }

  .downArr {
    bottom: 185px;
  }
}


@media only screen and (max-width: 1200px) {
  .headerBox {
    background-size: cover;
  }

  .headerContentBox {
    justify-content: center;
    align-items: center;
    flex: 1;
    .contentMidWrapper {
      display: none;
    }
  }
  .downArr {
    z-index: 11;
  }
  .headerBg {
    object-fit: none;
  }
}

@media only screen and (max-width: 992px) {
  .headerBox {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headerTitle {
    h1 {
      font-size: 34px!important;
      * {
        font-size: 34px!important;
      }
    }
    p {
      font-size: 18px!important;
      * {
        font-size: 18px!important;
      }
    }
  }

  .headerSubTitle {
    * {
      font-size: 18px!important;
    }
  }

  .headerPhone {
    visibility: hidden;
    position: absolute;
  }

}

@media only screen and (max-width: 768px) {
    .menuFixedBox {
      max-width: 75px;
      min-height: 65px;
      .hamburger--arrowturn {
        transform: translateX(1px) translateY(8px);
      }
    }


  .headerContactBox {
    width: 100%;
    a{
      display: flex;
      justify-content: center;
      width: 39px;
      height: 39px;
      border: 1px solid $white;
      border-radius: 50%;
      margin: 0 25px 0 0;
    }
  }

  .downArr {
    bottom: 10%!important;
  }
    
  .headerContentBox {
    height: calc(100% - 195px);
  }

  .logoBox{
    width: max-content;
    a{
      img{
        max-width: 126px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 368px) {

  .headerSubTitle {
    * {
      font-size: 14px!important;
    }
  }

  .menuFixedBox {
    max-width: 65px;
    min-height: 55px;
    .hamburger--arrowturn {
      padding: 12px;
      transform: translateX(3px) translateY(3px);
    }
  }

  .headerContactBox {
    a{
      display: flex;
      justify-content: center;
      width: 29px;
      height: 29px;
      border: 1px solid $white;
      border-radius: 50%;
      margin: 0 12px 0 0;
    }
  }

  .headerMenuBox {
    a {
      padding: 20px 0 12px 40px;
    }
  }
}

@media screen and (max-height: 700px) {
  .downArr {
    bottom: 4%;
    border: 3px solid $pink;
    .downArr_svg__st0 {
      fill: $pink;
    }
  }
}

