.HomeAdvantagesBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1509px;
}

.colorBox {
  background: linear-gradient(#662D8C, #ED1E79);
  padding: 60px 140px 90px;
}

.advantagesTitle {
  font-family: 'Lobster';
  font-size: 65px;
  color: $white;
  text-align: center;
}

.advantagesSubTitle {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: $white;
  margin: 37px 0 0;
}

.advantagesListTitle {
  font-size: 30px;
  font-weight: bold;
  color: $white;
  margin: 60px 0 30px;
}

.advantagesList {
  font-size: 25px;
  color: $white;
  li {
    margin: 20px 0 0;
    position: relative;
    &:before {
      position: absolute;
      width: 34px;
      height: 34px;
      left: -64px;
      content: '';
      background: url('/static/images/icons/star.svg') no-repeat;
    }
  }
}