.requestFormBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 2129px;
}

.requestFormTitle {
  font-family: 'Lobster';
  font-size: 65px;
  color: $white;
  text-align: center;
}

.requestFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.requestForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  padding: 0 5%;
  margin: 70px auto 0;
  button {
    margin: 0 auto!important;
  }
}

.requestFormLabel {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px;
  span {
    font-size: 16px;
    color: $white;
    margin: 0 0 15px;
  }
  input {
    width: 100%;
    height: 80px;
    background: $white;
    font-size: 30px;
    padding: 0 10px;
  }
  textarea {
    width: 100%;
    background: $white;
    resize: none;
    font-size: 30px;
    padding: 10px;
  }
}

.footerBox {
  text-align: center;
  color: $white;
  font-size: 16px;
  margin: 135px 0 75px;
  opacity: .7;
}