.sliderBox {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.smallSliderBox {
  display: flex;
  padding: 80px 0;
}

.smallSlider {

}

.smallSliderText {
  padding: 0 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallSlider {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.nextArrow, .prevArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  right: 10px;
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 999;
}

.prevArrow {
  left: 5px;
  transform: rotate(0deg);
  cursor: pointer;
}

.sliderItem {
  display: flex;
  text-align: center;
  margin: 10px;
  img {
    max-width: 700px;
    width: 100%;
  }
}

.travelSlider, .aboutSlider {
  position: relative;
  padding: 0 25px;
  .slick-track {
    display: flex;
    margin: 0 -10px;
  }
  .slick-slide {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-dots {
    display: flex!important;
    justify-content: center;
    li {
      padding: 5px;
    }
    .slick-active {
      div {
        background: #ccc;
      }
    }
  }

  .sliderDot {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .sliderItem {
    img {
      max-width: 500px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sliderItem {
    img {
      max-width: 350px;
    }
  }

  .prevArrow, .nextArrow {
    display: none;
  }
}