@import './colors.scss';
@import './fonts.scss';
@import './admin/header.scss';
@import './admin/content.scss';
@import './admin//login.scss';
@import './site/header.scss';
@import './site/requestForm.scss';
@import './site/home.scss';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: 'Roboto';
  color: #2F3034;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  background: #E7EBF0;
}

.globalBox {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}