.tabHeader {
  position: relative;
  padding: 10px 20px;
  min-width: 150px;
  transition: 0.15s ease;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #70D3D0 ;
  font-weight: 100;
  transform: none;
  outline: 0;
  transition: .3s;
}
.tabHeader:after {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #70D3D0;
}

.tabHeader:hover {
  opacity: 0.7;
}

.tabsBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.tabHeaderBox {
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 3px 5px 0px rgba(0,0,0,.1);
}

.tabHeader {
  background: #fff;
  color: #000;
}
.tabHeaderBox .activeTab {
  background: $green;
  color:#fff;
}

.travelTabsBox {
  display: flex;
  height: 450px;
}

.travelTabsHeader {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.travelTabsBox .activeTab {
  background: #F60B50;
  color:#fff;
  transition: .2s;
}

.travelTab {
  position: relative;
  cursor: pointer;
  padding: 20px 20px 20px 40px;
  transition: .2s;
  margin: 0 0 1px;
  background: $white;
  color: #393939;
  font-size: 16px;
  font-weight: bold;
}

.travelTab:after {
  content: '';
  z-index: 1;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateX(100%);
  border: 15px solid transparent;
  border-left: 15px solid transparent;
  transition: .2s;
}

.travelTab.activeTab:after {
  border-left: 15px solid #F60B50;
  transition: .2s;
}

.travelTabContent {
  color: $white;
  padding: 0 0 0 10%;
  overflow-y: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}
