.tabHeader {
  position: relative;
  padding: 10px 20px;
  min-width: 150px;
  transition: 0.15s ease;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #70D3D0 ;
  font-weight: 100;
  transform: none;
  outline: 0;
  transition: .3s;
}
.tabHeader:after {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #70D3D0;
}

.tabHeader:hover {
  opacity: 0.7;
}

.tabsBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.tabHeaderBox {
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 3px 5px 0px rgba(0,0,0,.1);
}

.tabHeader {
  background: #fff;
  color: #000;
}
.tabHeaderBox .activeTab {
  background: $green;
  color:#fff;
}

.travelTabsBox {
  display: flex;
  height: 450px;
}

.travelTabsHeader {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.travelTabsBox .activeTab {
  background: #F60B50;
  color:#fff;
  transition: .2s;
  .st0 {
    fill: #fff;
  }
}

.travelTab {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px 20px 10px 40px;
  transition: .2s;
  margin: 0 0 1px;
  background: $white;
  color: #393939;
  font-size: 16px;
  font-weight: bold;
  svg {
    height: 40px;
    margin: 0 20px 0 0;
  }
}

.travelTab:after {
  content: '';
  z-index: 1;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateX(100%);
  border: 15px solid transparent;
  border-left: 15px solid transparent;
  transition: .2s;
}

.travelTab.activeTab:after {
  border-left: 15px solid #F60B50;
  transition: .2s;
}

.travelTabContent {
  color: $white;
  padding: 0 0 0 10%;
  overflow-y: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background: #f1c40f; /* Old browsers */
background: -moz-linear-gradient(top, #f1c40f 0%, #e67e22 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f1c40f 0%,#e67e22 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f1c40f 0%,#e67e22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 10px;
    outline: 1px solid slategrey;
  }
}


@media only screen and (max-width: 992px) {
  .travelTabsBox {
    background: rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
}

@media only screen and (max-width: 768px) {
  .contentMidWrapper  {
    .travelTabsBox {
      flex-direction: column;
    }
    .travelTab:after {
      display: none;  
    }
    .travelTab.activeTab:after {
      display: none;
    }
    .travelTabsHeader {
      flex-direction: row;
      flex-wrap: wrap;
      .travelTab {
        flex: 1;
      }
    }
    .travelTabContent {
      padding: 0 23px 0 6px;
      margin: 35px 0 0;
    }
  }
}

@media only screen and (max-width: 468px) {
  .contentMidWrapper  {
    .travelTabsHeader {
      min-width: 200px;
      width: 100%;
      .travelTab {
        flex: 1;
        font-size: 14px;
        padding: 5px 10px 5px 20px;
        width: 50%;
        svg {
          height: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .contentMidWrapper  {
    .travelTabsHeader {
      .travelTab {
        font-size: 12px;
      }
    }
  }
}